.footer {
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--uiColorDimmed);
    box-shadow: var(--boxShadow);
}
.Links {
    display: flex;
    align-items: center;
}
.Links ul li {
    padding: 0.1rem;
}
.Links ul li a{
    padding: 0.2rem;
}
.Links ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
.Container {
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.nextspan {
    white-space: break-spaces;
    font-weight: bold;
    font-size: 1.2rem;

}
.nextspan a {
    padding: 0.2rem;
    display: flex;
    font-size: 0.8rem;
}
.tm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.arrow {
    display: flex;
    align-items: center;
   
}
.arrow:hover {
    cursor: pointer;
    animation: arrowPulse infinite 1s ease;
}

.arrow svg {
    color: white;
   opacity: 0; 
}
#ar1 {
    transform: translateX(-300%);
    animation: arrowShuffleAr1 3s infinite ease;
}
#ar2{
    transform: translateX(-300%); 
    animation: arrowShuffleAr2 3s infinite ease;
}
#ar3{
    transform: translateX(-300%);
    animation: arrowShuffleAr3 3s infinite ease;
}

@keyframes arrowShuffleAr1 {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }
    25% {
        opacity: 0;
        transform: translateX(-200%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    75% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
  
}
@keyframes arrowShuffleAr2 {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }
    25% {
        opacity: 0;
        transform: translateX(-200%);
    }
    50% {
        opacity: 1;
        transform: translateX(-100%);
    }
    75% {
        opacity: 0;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
  
}
@keyframes arrowShuffleAr3 {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }
    25% {
        opacity: 1;
        transform: translateX(-200%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    75% { opacity: 0;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%)
    }
   

}

@keyframes arrowPulse {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(5%);
    }
    50% {
     
        transform: translateY(-25%);
    }
    75% {
     
        transform: translateY(0%);
    }
}