.field {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
}
.field label{
    width: 10ch;  
    font-weight: bold;
    letter-spacing: 0.1ch;
    font-family: Abel;
}
.field textarea {
    width: 400px;
    max-width: 600px;
    max-height: 400px;
    min-width: 200px;
    min-height: 100px;
}
.btn {
    margin: 0.5rem;
    height: fit-content;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;

    border-radius: 5px;
    font-size: 1.2rem;
    transition: box-shadow ease 0.5s, color ease 0.5s, background-color ease 0.5s;
}
.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0rem 0rem 1rem white;
    cursor: pointer;
}