@import url('https://fonts.googleapis.com/css2?family=Abel&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root {
  --uiColor: rgb(251, 178, 60);
  --uiColorDimmed: rgba(251, 178, 60, 0.500);
  --secondaryColor: rgba(255, 0, 0, 0.250);
  --boxShadow:  0rem 0rem 2rem var(--uiColorDimmed);
  --footerHeight: 7rem;
  --headerHeight: 5.5rem;
  --bgColor: rgba(0, 0, 0, 0.9);
  --widthContainer: 75%;
  --marginCenter: 0 auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
p, div {
  color:white;
}
html,
body {
  min-width: 600px;
  padding: 0;
  margin: 0;
  font-family: Abel, Orbitron, sans-serif;
  font-size: 16px;
}
a {
  color: white;
  font-family: Orbitron;
  text-decoration: none;
}
li {
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
h1 {
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  box-shadow: inset 0 0 1rem rgba(255, 0, 0, 0.31);
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #ff000080;
  border-radius: 5px
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 15px
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}