@import url('https://fonts.googleapis.com/css2?family=Abel&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root {
  --uiColor: rgb(251,179,60);
}
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Abel, Orbitron, sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  font-family: Orbitron;
  text-decoration: none;
}
li {
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
