.nav {
    position: sticky;
    background-color: rgb(0, 0, 0);
    border-bottom: var(--uiColorDimmed) 1px  solid;
    box-shadow:  var(--boxShadow);
}
.nav ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 75%;
}
.language { 
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transition: color 0.5s ease-out, background-color ease-out 0.5s, box-shadow ease-out 0.5s ;
}
.language:hover {
    background-color: white;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 2rem 0.1rem rgb(255, 255, 255);
}
.language:hover .flags {
    display: flex;
    flex-direction: column;
}
.flags {
    background-color: white;
    color: black;
    top:3.5rem;
    transform: translateX(-1rem);
    position: absolute;
    display: none;
    border-radius: 5px;
}
.flag {
    margin:0.2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    font-family: Orbitron;
}
.flag:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 2rem 0.2rem rgb(255, 255, 255);
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .nav ul {
        margin: 0;
        width: auto;
    }
}