.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.headingL {
    color: white;
    padding-top: 5rem;
    font-family: Abel;
    font-size: 3rem;
    font-weight: bold;
}
.headingS {
    color: white;
    margin-top: 1rem;
    font-family: Abel;
    font-size: 2rem;
    font-weight: bold;
}
.dummy {
    height: 100vh;
}