.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: var(--bgColor);
    margin: var(--marginCenter);
    min-height: calc( 100vh - var(--headerHeight));
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.headings {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingL {
    color: white;
    padding-top: 5rem;
    font-family: Abel;
    font-size: 3rem;
    font-weight: bold;
}
.headingS {
    color: white;
    margin: 1rem 0;
    font-family: Abel;
    font-size: 2rem;
    font-weight: bold;
}
.shading {
    position: absolute;
    bottom: 0;
    left:0;
    background: transparent;
    background-image: linear-gradient(180deg, #ffffff00 10%, #000000 100%);
    height: 5rem;
    width:100%;

}
.dummy {
    padding: 5rem;
    text-indent: 5rem;
}


@media (max-width: 1000px){
    .container {
        width: 100%;
    }
}