.container {
    display: flex;
    flex-direction: column;
    min-height: calc( 100vh - calc( var(--footerHeight) + var(--headerHeight)));
}
.bg {
    background-image: url('../public/images/pochven-conduit.png');  
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
@media (max-width: 1000px){
    .container {
        width: 100%;
    }
}

