.container {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 11.56rem);
    width: 75%;
    margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .container {
        margin: 0;
        width: auto;
    }
}