.item {
    display: flex;
    align-items: center;
}
.item a {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.5s ease-out, background-color ease-out 0.5s, box-shadow ease-out 0.5s;
}
.item a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 2rem 0.2rem rgb(255, 255, 255);
}
