.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.895);
    margin: var(--marginCenter);
    min-height: calc( 100vh - calc( var(--footerHeight) + var(--headerHeight)));
}
.thumbGallery {
    margin: 2rem 3rem;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(20px, 200px));
}
.heading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
@media (max-width: 1000px){
    .container {
        width: 100%;
    }
}