.container {
    display: flex;
    justify-content: center;
    height: calc( 100vh - calc( var(--headerHeight) + var(--footerHeight)));
    width: 75%;
    background-color: var(--bgColor);
    position: absolute;
}
.panel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel > * {
    padding: 0.3rem;
}
.form {
    overflow-y: scroll;
    margin: 1rem 0rem;
    z-index: 10000;
    background-color: black;
    max-height: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.field {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}
.field label, .field select {
    letter-spacing: 0.1ch;
    font-family: Abel;
}
.field select {
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: solid white 1px;
   background-color: rgb(255, 255, 255);
}
.field select option {
    font-weight: bold;
}
.field > * {
    padding: 0.2rem;
}
.field label {
    width: 12ch;  
    font-weight: bold;
}
.field input {
    border-radius: 5px;
}
.field p {
    border: solid 1px white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
}
.field textarea {
    max-height: 400px;
    max-width: 600px;
    min-height: 200px;
    min-width: 300px;
}
.btn {
    height: fit-content;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    margin: 0.2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: box-shadow ease 0.5s, color ease 0.5s, background-color ease 0.5s;
}
.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0rem 0rem 1rem white;
    
}
.btnX {
    margin: 0.5rem;
    height: fit-content;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;

    border-radius: 5px;
    font-size: 1.2rem;
    transition: box-shadow ease 0.5s, color ease 0.5s, background-color ease 0.5s;
}
.btnX:hover {
    background-color: white;
    color: black;
    box-shadow: 0rem 0rem 1rem white;
    cursor: pointer;
}
@media  (max-width: 1000px ){
    .container {
        display: flex;
        justify-content: center;
        height: calc( 100vh - calc( var(--headerHeight) + var(--footerHeight)));
        width: 100%;
        background-color: var(--bgColor);
        position: absolute;
    }
}