.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
}
.author{
    width: 100%;
    display: flex;
    justify-content: space-between;
}