.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.1rem;
    transition: background-color ease 0.5s, box-shadow 0.5s ease;
}

.container:hover {
    box-shadow: white 0rem 0rem 1rem;
    background-color: white;
    cursor: pointer;
}
.container > * {
    transition: color 0.5s ease;
}
.container:hover > * {
    color: black;
}
.container > .heading:first-letter{
    text-transform: capitalize;
}
.container:hover .description{
    display: block;
    color: black;
}
.heading {
    padding: 0.1rem;
    
}
.description {
    transform: translateY(100%);
    position:absolute;
    background-color: white;
    display: none;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: black 0rem 0rem 1rem;
}
.description::first-letter {
    text-transform: capitalize;
}